<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <% if (Day === "Saturday" || Day === "Sunday") { %>
          <h1 style="color: orange;">It's a <%= Day %>!</h1>
          <h1 style="color: purple;"><%= Day %> toDo List!</h1>
    <% } else{ %>
      <h1 style="color: Blue;">It's a <%= Day %>!</h1>
      <h1 style="color: purple;"><%= Day %> toDo List!</h1>
    <% } %>
  </body>
</html>
